/* Form container */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Form labels */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Form input fields */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  input[type="color"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Submit button */
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  span{
    color: #ff0000;
  }
  /* Error messages */
  .alert {
    color: #ff0000;
    margin-bottom: 10px;
  }
  

  /* Add this style for the success message container */
.hide {
    display: none;
  }
  

  /* Add this style for the color preview span */
.color-preview {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: middle;
}
