body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #808080;
}
.box{
    height: 300px;
    width: 300px;
    background: #ff0000;
    border: 2px solid #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}


